import { NextPage } from 'next';
import React from 'react';

import { Container } from './{{pascalCase name}}.styles';

const {{pascalCase name}}: NextPage = () => {
  return (
    <Container>
      <p>Hello, World</p>
    </Container>
  );
};

export default {{pascalCase name}};
